.label-date,
.label--date--second {
  left: 24px;
  top: 15px;
}

.input-date-check {
  margin-top: -3px;
  display: flex;
  width: 22%;
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.col-date:focus {
  outline: none;
}

.label-date-first,
.label-date-second {
  width: 50%;
  position: relative;
}

.col-date {
  width: 100%;
}

input:focus ~ .label-date,
input:not(:focus):valid ~ .label-date {
  top: -48px;
  left: 24px;
  color: var(--general-white-color);
  opacity: 1;
}

input:focus ~ .label-date-second,
input:not(:focus):valid ~ .label-date-second {
  top: -48px;
  left: 24px;
  color: var(--general-white-color);
  opacity: 1;
}