.input-destination {
  width: 36%;
}

.col-destination {
  width: 100%;
}

input:focus ~ .label-destination,
input:not(:focus):valid ~ .label-destination {
  top: -48px;
  left: 24px;
  color: #ffffff;
  opacity: 1;
}

.label-destination{
  left: 24px;
  top: 15px;
}

.col-destination:focus {
  outline: 0;
  border: 3px solid var(--accent-yellow-color);
  border-radius: 8px;
}