.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../../assets/images/TopSection/background.svg') center no-repeat;
  background-size: cover;

}

.intro-title {
  margin-top: 180px;
  padding-bottom: 100px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--general-white-color);
}