:root {
  --general-blue-color: #10367c;
  --accent-blue-color: #3077c6;
  --accent-yellow-color: #f5bd41;
  --dark-mode-1-color: #121212;
  --dark-mode-2-color: #1d1e1f;
  --dark-mode-3-color: #4d4d4d;
  --stroke-main-color: #f3f3f4;
  --text-main-color: #383838;
  --general-white-color: #ffffff;
  --secondary-text-color: #bfbfbf;
  --bg-main-color: #eaf0f9;
  --box-shadow-color: #8a8a8a;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
}
/*SECTION-Homes guests loves========
 ===============================*/
.section {
  padding: 120px 0;
}

.section-header {
  padding-bottom: 104px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  text-align: center;
}

.section-subtitle {
  font-size: 40px;
  font-weight: 500;
  color: var(--dark-mode-3-color);
  position: relative;
}

.section--blue {
  background-color: var(--bg-main-color);
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-img {
  width: 295px;
  height: 295px;
}
.card-item {
  width: 296px;
  padding-bottom: 15px;
}

.card-img-container {
  position: relative;
}

.card-hostel-name {
  padding: 12px 0 3px 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--accent-blue-color);
}

.card-hostel-location {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

